body {
  margin: 0;
  padding: 0;
}

.body-section {
  display: flex;
  justify-content: flex-start;
  margin: 0 10vw;
}

.title-refresh-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title > h1 {
  font-family: cursive;
  margin-left: 4vw;
  font-size: 3rem;
}

h2 {
  font-family: sans-serif;
  font-size: 2rem;
}

.scoreboard-section {
  width: 50%;
}

.score-board {
  border: 1px solid #000;
}

.score-item {
  padding: 0.5vw;
  font-size: 1.2rem;
  font-family: sans-serif;
}

#odd {
  background-color: #eee;
}

.add-score-section {
  padding-left: 8vw;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
}

.name-input-box > input,
.score-input-box > input {
  font-size: 1.3rem;
  padding: 2px;
  margin-bottom: 2vw;
}

.submit-btn {
  font-size: 1rem;
  padding: 0.5vw 2vw;
}

.refresh-btn {
  font-size: 1rem;
  padding: 0.5vw 2vw;
}
